body {
  background-color: #394867;
  margin: 0;
  font-family: "Comic Sans MS";
  height: 100wh;
  display: flex;
  justify-content: center;
}

.scoreDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10%;
}

.resultDiv {
  background-color: #f1f6f9;
  min-width: 40%;
  padding: 80px;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 5%;
  text-align: center;
}

.playerColor {
  color: green;
}

.computerColor {
  color: blue;
}

.choiceBtn {
  height: 100px;
  width: 100px;
  font-size: 0;
  margin: 30px 10px;
}

#rock {
  background: url(Sources/Rock.png) center no-repeat;
  background-size: cover;
}

#paper {
  background: url(Sources/Paper.png) center no-repeat;
  background-size: cover;
}

#scissors {
  background: url(Sources/Scissors.png) center no-repeat;
  background-size: cover;
}
