body {
  color: white;
  background-color: #284b63;
  margin: 0;
  font-family: "Comic Sans MS";
  height: 100wh;
  display: flex;
  justify-content: center;
}

.scoreDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10%;
}

.resultDiv {
  background-color: rgba(0, 0, 0, 40%);
  min-width: 40%;
  padding: 80px;
  border-radius: 20px;
  margin-top: 5%;
  text-align: center;
}

.playerColor {
  color: #53e964;
}

.computerColor {
  color: #31a9f3;
}

.choiceBtn {
  height: 100px;
  width: 100px;
  font-size: 0;
  margin: 30px 10px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.choiceBtn:hover {
  cursor: pointer;
  border: solid green;
}

#rock {
  background: url(Sources/Rock.png) center no-repeat;
  background-size: cover;
}

#paper {
  background: url(Sources/Paper.png) center no-repeat;
  background-size: cover;
}

#scissors {
  background: url(Sources/Scissors.png) center no-repeat;
  background-size: cover;
}
