body {
  margin: 0;
  font-family: "Comic Sans MS";
  height: 100wh;
  display: flex;
  justify-content: center;
}

.scoreDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10%;
}

.resultDiv {
  min-width: 40%;
  padding: 80px;
  border: 3px solid black;
  margin-top: 5%;
  text-align: center;
}

.playerColor {
  color: green;
}

.computerColor {
  color: blue;
}
